name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

  workflow_dispatch:

env:
  DEVELOPER_DIR: "/Applications/Xcode_26.2.app/Contents/Developer"

jobs:
  build-package:
    runs-on: macos-26

    steps:
      - uses: actions/checkout@main
      - name: Test
        run: set -o pipefail && make test-package | xcpretty

  build-ui-preview:
    runs-on: macos-26

    steps:
      - uses: actions/checkout@main
      - name: Build
        run: set -o pipefail && make build-ui-preview | xcpretty

  test-ui-preview:
    runs-on: macos-26
    if: false # Temporarily disabled
    steps:
      - uses: actions/checkout@main
      - name: UI test
        run: set -o pipefail && make test-ui-preview | xcpretty

      - name: Archive xcresult
        uses: actions/upload-artifact@v4
        if: success() || failure()
        with:
          name: xcresult-uitest
          path: /tmp/*.xcresult
          if-no-files-found: error
