name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

  workflow_dispatch:

env:
  DEVELOPER_DIR: "/Applications/Xcode_26.0.app/Contents/Developer"

jobs:
  build-package:
    runs-on: macos-26

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Test
        run: set -o pipefail && make test-package | xcpretty

  build-ui-preview:
    runs-on: macos-26

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Build
        run: set -o pipefail && make build-ui-preview | xcpretty

  test-ui-preview:
    runs-on: macos-26
    if: false # Temporarily disabled
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: UI test
        run: set -o pipefail && make test-ui-preview | xcpretty

      - name: Archive xcresult
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: success() || failure()
        with:
          name: xcresult-uitest
          path: /tmp/*.xcresult
          if-no-files-found: error
